.App {
    height: 100vh;
    text-align: center;
    background-color: hotpink;
}

.cups {
    height: 200px;
    width: auto;
}

.rowCups {
    display: flex;
    justify-content: space-evenly;

}

.header {
    color: green;
}

.start {
    background-color: orange;
}

@keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-300px);
    }

    60% {
        transform: translateY(-15px);
    }
}

.bounce {
    animation: bounce 5s 1;
}

/* @-webkit-keyframes blackWhite {
    0% {
        background-color: white;
    }

    50% {
        background-color: white;
    }

    51% {
        background-color: black;
    }

    100% {
        background-color: black;
    }
}

.header {
    height: 100px;
    background-color: black;
    -webkit-animation-name: blackWhite;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 2s;
} */